# .env
NEXT_PUBLIC_SITE_URL="https://webmarks.vercel.app/"

DATABASE_URL="postgresql://postgres:123456@localhost:5432/webmarks"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=webmarks

# .env.local
SESSION_SECRET=openssl rand -base64 32